// SIDE PANEL

//sections
#side-panel-ui {
    position: fixed;
    width: 50%;
    border-left: 1px solid rgba(170,170,170, .4);
}
#top-palette-panel {
    height: 11vh;
}
#selector-strip {
    height: 3vh;
    border-bottom: 1px solid rgba(170,170,170, .4); 
}
#font-ui-panel {
    height: 38vh;
    border-bottom: 1px solid rgba(170,170,170, .4);
}
#sample-text-panel {
    height: 40vh;
}
#bottom-expand-panel {
    height: 8vh;
    border-top: 1px solid rgba(170,170,170, .4);
}
#use-panel-expand {
    height: 60%;
    margin: 1rem;
}
//panel
.panel-section {
  
}
.sub-panel-section {
    height: 100%;
    padding: 12px;
}

.font-sample-item {
    list-style: none;
    border-bottom: 1px solid rgba(170,170,170, .6);
}
#panel-color-select-icon {
    color: rgba(170,170,170, .6);
    position: absolute;
    left: 9%;
    font-size: 3vh;
}
.font-scrollbox {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin-top: 0;
}

//sliders
md-slider {
    margin: 0 12px;
}
.mat-slider-wrapper {
    background-color: #eeeeee;
}
.mat-slider-thumb {
    background: #d3d3d3;
}
.mat-slider-horizontal {
  width: 100%;
}
.mat-slider-track-bakground {
    background-color: black;
}
.font-slider-label {
    height: 48px;
}
.color-box {
    background-color: black;
    border-radius: 2px;
    height: 36px;
    width: 36px;
    margin: 12px 12px 0 12px;
}
.opacity-slider {
    min-height: 78px;
}
md-select {
    width: 100%;
}
.font-values-form, md-input-container {
    min-width: 100%;
}