
                    /*

                    * === CHROMA COLOR PALETTE : ) ===

                    */


                    
                    /*

                    * — Defaults —

                    */


                    $primaryFont: #1F2124;

$primaryBackground: #fff;

.primary-font {color: $primaryFont;} 

.primary-background {background-color: $primaryBackground;}


                    /*

                    * — Palette —

                    */


                    .primary-alpha{ background-color: #F8B447;}

.primary-beta{ background-color: #F88651;}

.accent-alpha{ background-color: #383A3F;}

.accent-beta{ background-color: #1F2124;}

.primary-alpha-font { color: #F8B447;}

.primary-beta-font { color: #F88651;}

.accent-alpha-font { color: #383A3F;}

.accent-beta-font { color: #1F2124;}

