<md-card class="pallete-card" fxLayout="row" fxLayoutAlign="center center" *ngFor="let colors of colorPalettes; let i = index"
  [style.background]="colors.typographyPanelExpanded ? colors.currentColor : '#fff'">
  <div *ngIf="!colors.typographyPanelExpanded && !colors.typographyPanelExpanded && !colors.cssPanelExpanded" fxFlex="5%" class="left-panel"
    [ngClass]="{'white-bg': colors.identifierShow && !colors.isExpanded, 'grey-bg': !colors.identifierShow  && colors.isExpanded}">
    <div fxFlex>
      <svg [ngClass]="{'color-identifier': !colors.isExpanded, 'color-identifier-expanded': colors.isExpanded}" [style.top]="colors.identifierPosition"
        *ngIf="colors.identifierShow" viewBox="443 -14 14 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <polyline id="Path-2" stroke="#979797" stroke-width="1" fill="none" points="444 -13 455.313708 -1.6862915 444 9.627417"></polyline>
      </svg>
    </div>
  </div>
  <div *ngIf="!colors.typographyPanelExpanded && !colors.typographyPanelExpanded && !colors.cssPanelExpanded" [fxFlex]="{'45%': colors.isExpanded, '15%': !colors.isExpanded}"
    class="left-panel" [ngClass]="{'white-bg': colors.identifierShow && !colors.isExpanded, 'grey-bg': !colors.identifierShow  && colors.isExpanded}">
    <svg [ngClass]="{'octo-palette': colors.isExpanded, 'octo-palette-expanded': !colors.isExpanded}" class="octo-palette" viewBox="144 36 134 329"
      version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Group-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(144.000000, 36.000000)">
        <polygon (click)="selectColor(i, 0)" stroke="#fff" stroke-width="2" class="octo" [style.fill]="colors.palette[0]" points="54.9862416 0.1875 109.234202 39.2029849 88.5133249 102.331365 21.4591583 102.331365 0.73828125 39.2029849"></polygon>
        <polygon (click)="selectColor(i, 1)" stroke="#fff" stroke-width="2" class="octo" [style.fill]="colors.palette[1]" points="55.6581166 73 109.906077 112.015485 89.1851999 175.143865 22.1310333 175.143865 1.41015625 112.015485"></polygon>
        <polygon (click)="selectColor(i, 2)" stroke="#fff" stroke-width="2" class="octo" [style.fill]="colors.palette[2]" points="54.9862416 150.789314 109.234202 189.804799 88.5133249 252.933179 21.4591583 252.933179 0.73828125 189.804799"></polygon>
        <polygon (click)="selectColor(i, 3)" stroke="#fff" stroke-width="2" class="octo" [style.fill]="colors.palette[3]" points="54.9862416 225.856135 109.234202 264.871619 88.5133249 328 21.4591583 328 0.73828125 264.871619"></polygon>
      </g>
    </svg>
  </div>
  <div *ngIf="!colors.typographyPanelExpanded && !colors.typographyPanelExpanded && !colors.cssPanelExpanded" fxFlex="50%"
    class="center-panel" [style.background]="colors.currentColor" [ngClass]="currentFontStyles">
  </div>
</md-card>
